
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#e54696,#e2e8e9);
}

.auth-container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.auth-card{
    width:420px;
    background:#fff;
    border-radius:18px;
    padding:35px;
    box-shadow:0 15px 35px rgba(0,0,0,.2);
}

.auth-card h1{
    text-align:center;
    color:#222;
    margin-bottom:8px;
}

.auth-card p{
    text-align:center;
    color:#666;
    margin-bottom:25px;
}

.input-group{
    margin-bottom:18px;
}

.input-group label{
    display:block;
    margin-bottom:8px;
    font-weight:500;
    color:#333;
}

.input-group input{
    width:100%;
    padding:14px;
    border:1px solid #ccc;
    border-radius:10px;
    outline:none;
    font-size:16px;
    transition:.3s;
}

.input-group input:focus{
    border-color:#ede3ea;
    box-shadow:0 0 8px rgba(236, 190, 219, 0.3);
}

button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    background:#d98f4b;
    color:rgb(32, 24, 9);
    font-size:17px;
    cursor:pointer;
    transition:.3s;
    margin-top:10px;
}

button:hover{
    background:#656296;
    transform:translateY(-2px);
}

.message{
    text-align:center;
    margin-top:15px;
    color:rgb(207, 166, 166);
    font-size:14px;
}


.auth-footer{
    text-align:center;
    margin-top:20px;
}

.auth-footer a{
    text-decoration:none;
    color:#cfcee4;
    font-weight:600;
}

.auth-footer a:hover{
    text-decoration:underline;
}

.show-password{
    display:flex;
    align-items:center;
    gap:8px;
    margin-top:10px;
    font-size:14px;
}

@media(max-width:480px){

.auth-card{
    width:100%;
    padding:25px;
}

.auth-card h1{
    font-size:28px;
}

}